<div class="card employee-card m-3">
    <div class="card-header bg-primary m-0 p-2 text-light">
        <h2 class="card-title">{{ name }}</h2>
        <h3 class="card-title"><i class="fas fa-mug-hot mr-2"></i>{{ name }}</h3>
    </div>
    <div class="card-body">
        <ul class="list-group">
            <li class="list-group-item">ID: {{ name }}</li>
            <li class="list-group-item">Email: {{ name }}<a href=""></a></li>
            <li class="list-group-item">Office number: {{ name }}</li>
        </ul>
    </div>
</div>